name: Automated Test
on: [push]
jobs:
  automated_test:
    name: Automated Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Produce first output
      run: python main.py > actual1.txt
    - name: First test
      run: diff expected1.txt actual1.txt
    - name: Produce second output
      run: python main.py > actual2.txt
    - name: Second test
      run: diff expected2.txt actual2.txt
